body {
    margin: 0px;
    font-family: NanumGothic;
}

div.header {
    background: black;
    padding: 13px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    color: #FFFFFF;
    font-size: 22px;
}

div.body {
    padding: 80px 20px 4px 20px;
    max-width: 768px;
    margin: 0 auto;
}

div.footer {
    padding: 5px;
    font-size: 12px;
}

table {
    width: 100%;
    color: #000000;
    border-collapse: collapse;
    font-size: 16px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-bottom: 16px;
}

td {
    padding: 8px;
    border-collapse: collapse;
    border: 0px solid #000000;
    border-top: 1px solid #000000;
    text-align: center;
}
td.title {
    padding: 8px;
    background: #EEEEEE;
    font-weight: bold;
}
td.info {
    text-align: start;
}

p {
    margin: 16px;
}
polyline, polygon {
    stroke-width: 12;
    stroke-linejoin: round;
    stroke-linecap: round;
}
circle {
    fill: #FFFFFF;
    stroke : #000000;
    stroke-width: 2;
}
text {
    font-size: 30px;
    text-anchor: start;
}